In [1]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('SAMPLE_1.csv')

In [7]:
data

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE
0,id,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...
1,0100000US,United States,0.1,79.3,0.1,(X),(X),322903030,*****,322903030,...,5463,49238581,(X),21781300,3215,44.2,0.1,27457281,3635,55.8

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
#How to get column name
data.columns

#How to get number of rows and columns
data.shape

#How to select rows


#How to select columns


#How to select rows with criteria

Index(['GEO_ID', 'NAME', 'DP05_0031PM', 'DP05_0032E', 'DP05_0032M',
       'DP05_0032PE', 'DP05_0032PM', 'DP05_0033E', 'DP05_0033M', 'DP05_0033PE',
       ...
       'DP05_0029M', 'DP05_0029PE', 'DP05_0029PM', 'DP05_0030E', 'DP05_0030M',
       'DP05_0030PE', 'DP05_0030PM', 'DP05_0031E', 'DP05_0031M',
       'DP05_0031PE'],
      dtype='object', length=358)

In [10]:
data.shape

(2, 358)

In [16]:
data.iloc[0]

,GEO_ID,NAME,DP05_0031PM,DP05_0032E,DP05_0032M,DP05_0032PE,DP05_0032PM,DP05_0033E,DP05_0033M,DP05_0033PE,...,DP05_0029M,DP05_0029PE,DP05_0029PM,DP05_0030E,DP05_0030M,DP05_0030PE,DP05_0030PM,DP05_0031E,DP05_0031M,DP05_0031PE
0,id,Geographic Area Name,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!RACE!!Total population,Margin of Error!!RACE!!Total population,Percent Estimate!!RACE!!Total population,...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...,Percent Margin of Error!!SEX AND AGE!!Total po...,Estimate!!SEX AND AGE!!Total population!!65 ye...,Margin of Error!!SEX AND AGE!!Total population...,Percent Estimate!!SEX AND AGE!!Total populatio...

In [21]:
data.T.iloc[10]

0    Percent Margin of Error!!RACE!!Total population
1                                                (X)
Name: DP05_0033PM, dtype: object