In [3]:
###Sci-Pi function
##Finding Cube Root
import scipy
from scipy import cbrt
cb = cbrt(27)
print(cb)

###Finding Eigen Value and Eigen Vector

from scipy import linalg
import numpy as np
array_1 = np.array([[4,5],[3,2]])
deter = linalg.det(array_1)
inv = linalg.inv(array_1)
eigen_val,eigen_vec = linalg.eig(array_1)
print(eigen_val)
print(eigen_vec)

3.0000000000000004
[ 7.+0.j -1.+0.j]
[[ 0.85749293 -0.70710678]
 [ 0.51449576  0.70710678]]

In [8]:
i = 4
if(i==1):
    print('i is 1')
elif(3!=3):
    print("Condition 2 Correct")
elif(4!=4):
    print("Condition 3 Correct")
else:
    print("Condition not satisfied")

Condition not satisfied

In [13]:
##While Loop
i=1
while(i<=5):
    print("i is:",i)
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

In [ ]:
count

In [1]:
import random
random.randint(100,500)

127

In [1]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [3]:
random.randrange(100,200)

155

In [3]:
for x in range(1,5,2):
    print(x)

1
3

In [4]:
random.gauss(2,4)

3.6876766414429776

In [8]:
###Shuffle Numbers
numbers = [1,2,4,33,113,45]
random.shuffle(numbers)
numbers
###Choice 
random.choice([12,23,45,67,83])

67

In [12]:
list = [20,30,12,34,89,655,10]
sampling = random.choices(list,k=5)
print("Random with sampling: ",sampling)

Random with sampling:  [655, 20, 89, 655, 655]

In [20]:
list(range(5))

TypeError: 'list' object is not callable

In [2]:
random.random()

0.5413067824269356

In [ ]:
inp

In [ ]:
name = input("What is CloudxLab?\n")

In [ ]:
question = "What is 2 multiplied by 3?\n"

In [ ]:
answer = input(question)

In [ ]:
print(int(answer))

In [1]:
def input_name():
    return(input("What am i studying?\n"))
subject = input_name()
print(subject)

What am i studying?
Python
Python

In [ ]:
subject = input_name()

In [ ]:
print(subject)

In [7]:
1 == 1

True

In [9]:
print(type(True))

<class 'bool'>

In [ ]:
def conditional_statements(num1,num2,num3,num4):
    if(num3 < num1 < num2) && (num1 == num4)

In [10]:
def bool_func(num1,num2,num3,num4):
    exp1 = str(num1 > num2)
    exp2 = str(num1 == num3)
    exp3 = str(num2 <= num3)
    exp4 = str(num4 != num1)
    return(exp1+exp2+exp3+exp4)

In [11]:
bool_func(1,2,3,4)

'FalseFalseTrueTrue'

In [14]:
num1 = 10
num2 = 15
num3 = 20
num4 = 17

In [16]:
(num3 < num1 < num2) and (num3 == num4)

False

In [17]:
num3 < num1 < num2 < num4

False

In [19]:
str(num2) == float

False

In [20]:
str(num1) and str(num3) and str(num4) == int

False

In [21]:
def conditional_statements(num1,num2,num3,num4):
    if((num3 < num1 < num2) and (num3 == num4)) and (num3 < num1 < num2 < num4) and str(num2) == float and (str(num1) and str(num3) and str(num4)) == int):
        return num1+num2+num3+num4
    else:
        print("Numbers are not equal")

SyntaxError: invalid syntax (<ipython-input-21-d1411e653f6c>, line 2)

In [22]:
def conditional_statements(num1,num2,num3,num4):
    if (num1<num2) and (num1 > num3) and num1 == num4:
        if num3 < num2:
            if type(num2) is float:
                if type(num1) is int and type(num3) is int and type(num4) is int:
                    return(num1+num2+num3+num4)

In [31]:
def conditional_statements(num1,num2,num3,num4):
    if (num1<num2) and (num1 > num3) and num1 == num4:
        if num3 < num2:
            if type(num2) is float:
                if type(num1) is int and type(num3) is int and type(num4) is int:
                    return(num1+num2+num3+num4)

In [33]:
 conditional_statements(5,10.1,2,5)

22.1

In [37]:
age

'my age is twenty three'

In [34]:
prompt = input("Enter your age\n")

Enter your age
my age is twenty three

In [38]:
prompt = input("Enter your current age /n")

Enter your current age /n23

In [40]:
prompt = input("Enter your current age \n")
try:
    print(int(prompt))
except:
    print("You should have entered a number")

Enter your current age
Twenty Three
You should have entered a number

In [95]:
def except_func(num):
    try:
      return num * num
    except:
        print("invalid number")

In [96]:
except_func("sample")

invalid number

In [99]:
a = 0
a = a + 1

In [100]:
a

1

In [101]:
a - 1

0

In [102]:
a * 2

2

In [103]:
a // 3

0

In [105]:
3 // 2

1

In [107]:
for x in (1,2,3,4):
    print(x)

1
2
3
4

In [108]:
total_interest = 9762.69
type(total_interest)

float

In [114]:
bmi = 25
print("BMI is " + bmi)

TypeError: must be str, not int

In [116]:
type(bmi) = "string"

SyntaxError: can't assign to function call (<ipython-input-116-7c8ad7846868>, line 1)

In [117]:
type(bmi) = str

SyntaxError: can't assign to function call (<ipython-input-117-05f2eba256a5>, line 1)

In [119]:
bmi_str = str(bmi)

In [120]:
message = "BMI is " + bmi_str

In [121]:
print(message)

BMI is 25

In [8]:
def sum_func(a):
if(type(a)!=int or a<0):
return -1
if (type(a)==int and a>=0):
return sum(range(0,(a+1))

IndentationError: expected an indented block (<ipython-input-8-0c4bc8f0a83b>, line 2)

In [127]:
 def pay_calculator(hours,rate):
        if(hours <= 40):
            total_pay = hours * rate
        if(hours > 40):
            extra_hour = hours - 40
            total_pay = (1.5 * rate * extra_hour) + (40*rate)
        return total_pay    
 print(pay_calculator(45,10))

475.0

In [139]:
def print_even(n):
    for i in range(0,n):
      if i % 2 == 0:
        print(i)

In [140]:
print_even(100)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [148]:
def compound_interest(principle, rate,years):
    interest = principle * float(rate) * years/100
    print(interest)

In [150]:
compound_interest(100,20.0,1)

2000.0

In [164]:
def compound_interest(principle, rate, years):
    comp_interst = principle * (1 + rate/100)**years
    comp_interst = comp_interst -principle
    return comp_interst
print(compound_interest(1000, 50, 2))

1250.0

In [165]:
a = 1
while a <= 5:
    a = a + 1
print("a has crossed 5")
print(a)

a has crossed 5
6

In [25]:
def sum_func(i):
    if type(i) != int:
        return -1
    if type(i) == int and i >= 0:
        return sum(range(0,i+1))
    if type(i) == int and i < 0:
        return -1

In [34]:
sum_func(10)

55

In [11]:
sum_func(-1)

-1

In [12]:
sum_func()

-1

In [35]:
sum(range(0,10))

45