In [3]:
import numpy as np

In [7]:
import numpy as np
import pandas as pd

In [8]:
features = ['quality','marketing_strategy','marketing_team','automation','social_presence','financial_status','sales']

In [12]:
length = 50000
values = [np.random.randint(1,10,size = length),np.random.randint(1,50,size = length),np.random.randint(1,50,size = length),
          np.random.randint(1,10,size = length),np.random.randint(1,10,size = length),np.random.randint(1,100,size = length),
          np.random.randint(10000,500000,size = length)]

In [13]:
data = pd.DataFrame(dict(zip(features,values)))
data

,quality,marketing_strategy,marketing_team,automation,social_presence,financial_status,sales
0,7,45,32,2,1,58,470295
1,8,14,2,3,6,86,25106
2,4,49,2,5,3,83,117819
3,6,6,31,4,4,51,383061
4,4,48,27,3,2,9,42747
...,...,...,...,...,...,...,...
49995,2,8,38,6,1,7,168337
49996,8,6,24,4,4,41,180299
49997,6,31,48,4,9,72,438060
49998,5,2,35,6,8,78,126830
49999,8,27,22,5,7,45,133926

In [14]:
X = data.drop(['sales'],axis = 1)

In [15]:
X

,quality,marketing_strategy,marketing_team,automation,social_presence,financial_status
0,7,45,32,2,1,58
1,8,14,2,3,6,86
2,4,49,2,5,3,83
3,6,6,31,4,4,51
4,4,48,27,3,2,9
...,...,...,...,...,...,...
49995,2,8,38,6,1,7
49996,8,6,24,4,4,41
49997,6,31,48,4,9,72
49998,5,2,35,6,8,78
49999,8,27,22,5,7,45

In [17]:
y_a = data['sales']

In [18]:
y_a

0        470295
1         25106
2        117819
3        383061
4         42747
          ...
49995    168337
49996    180299
49997    438060
49998    126830
49999    133926
Name: sales, Length: 50000, dtype: int64

In [19]:
f = len(features)-1
M = np.random.randn(f,1)

In [24]:
###Functions to be used
#1.line
#2.Error
#3.gradient_m
#4.gradient_c
#####
###Line Function
def line(m,x,c):
    return np.dot(x,m) + c
print(line(M,X,10).shape)
def error(m,x,c,y_a):
    y_p = line(m,x,c)
    return np.mean((y_p - y_a) **2)
print(error(M,X,10,y_a).shape)

(50000, 1)

Exception: Data must be 1-dimensional