In [1]:
#Creating a series object
import pandas as pd
series = pd.Series([2,1,-3,5])
print(series)

0    2
1    1
2   -3
3    5
dtype: int64

In [5]:
###Performing square on a series
import numpy as np
s=np.square(series)
print(s)

0     4
1     1
2     9
3    25
dtype: int64

In [8]:
#Arithmetic Operations on the series
series + [1000,2000,3000,4000]

0    1002
1    2001
2    2997
3    4005
dtype: int64

In [10]:
#Broadcasting
series + 1000

0    1002
1    1001
2     997
3    1005
dtype: int64

In [11]:
series

0    2
1    1
2   -3
3    5
dtype: int64

In [12]:
#Binary and Conditional Operators

series < 0

0    False
1    False
2     True
3    False
dtype: bool

In [14]:
#Index Labels
#Each item in a series object has a unique identifier called the index tab

s2 = pd.Series([68,83,112,68],index = ["alice","bob","charlie","darwin"])
print(s2)

alice       68
bob         83
charlie    112
darwin      68
dtype: int64

In [17]:
##Access the items in the series
s2[[0]]

alice    68
dtype: int64

In [21]:
#It is always recommended to use the loc attribute when accessing by label and iloc attribute when accessing by index
print(s2["bob"])
print(s2.loc["bob"])
print(s2.iloc[1])

83
83
83

In [24]:
##Init from dictionary
weights = {"alice":68,"bob":83,"charlie":112,"darwin":68}
w1 = pd.Series(weights)
print(w1)

alice       68
bob         83
charlie    112
darwin      68
dtype: int64

In [26]:
s3 = pd.Series(weights,index = ['alice','bob'])
print(s3)

alice    68
bob      83
dtype: int64