In [46]:
import java.io._
val writer = new PrintWriter(new File("New.txt" ))
writer.write("Hello Scala")
writer.write("\n")
writer.write("Bye Scala")
writer.close()
.main(Array())

In [2]:
import java.io._
object IOTest{
    def main(args:Array[String]){
        val writer = new PrintWriter(new File("New.txt"))
        writer.write("Hello Scala\n")
        writer.write("Bye Scala \n")
        writer.close()
    }
}
IOTest.main(Array())

defined object IOTest

In [47]:
import scala.io.Source
for(line <- Source.fromFile("New.txt").getLines){
    println(line)
}

Hello Scala
Bye Scala

In [11]:
var list = List("Python","Go")

list = List(Python, Go)

List(Python, Go)

In [12]:
list.flatMap(lang => lang + '#')

List(P, y, t, h, o, n, #, G, o, #)

In [14]:
list.filter(lang => lang.contains('o'))

List(Python, Go)

In [4]:
var list = List(1,2,3)

list = List(1, 2, 3)

List(1, 2, 3)

In [10]:
list.foreach(println)

3
7
13
16

In [9]:
var list = List(3,7,13,16)
list.reduce(_+_)

list = List(3, 7, 13, 16)

39

In [3]:
import java.io._
val writer = new PrintWriter(new File("New.txt" ))
writer.write("Hello Scala")
writer.write("\n")
writer.write("Bye Scala")
writer.close()

writer = java.io.PrintWriter@75bc8ac7

java.io.PrintWriter@75bc8ac7

In [28]:
import java.io._
object IOTest {
    def main(args:Array[String]) {
        val writer = new PrintWriter(new File("new.txt"))
        writer.write("Hello There Scala")
        writer.close()
    }
}

defined object IOTest

In [30]:
IOTest.main(Array())

In [27]:
val myIter = Iterator("I","am","going")

myIter = non-empty iterator

non-empty iterator

In [24]:
val it = Iterator("you","are","next")
while(it.hasNext){
    println(it.next())
}

you
are
next

it = empty iterator

empty iterator

In [23]:
val myTuple = Tuple3(5,"Hello",100)

myTuple = (5,Hello,100)

(5,Hello,100)

In [21]:
val charMap = Map('A' -> 1,'B' -> 2,'C' -> 3)

charMap = Map(A -> 1, B -> 2, C -> 3)

Map(A -> 1, B -> 2, C -> 3)

In [18]:
var intSet : Set[Int] = Set(2,4,17,19)

intSet = Set(2, 4, 17, 19)

Set(2, 4, 17, 19)

In [14]:
val strList = List("apple","banana","mango","orange","pears")

strList = List(apple, banana, mango, orange, pears)

List(apple, banana, mango, orange, pears)

In [15]:
strList

List(apple, banana, mango, orange, pears)

In [13]:
val days = List("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")

days = List(Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday)

List(Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday)

In [12]:
days(1) = "Friday"

Name: Compile Error
Message: <console>:37: error: value update is not a member of List[String]
       days(1) = "Friday"
       ^

StackTrace:

In [8]:
var days = List("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")

days = List(Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday)

List(Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday)

In [7]:
import Array._
var numArray:Array[Int] = range(10,22,2)

numArray = Array(10, 12, 14, 16, 18, 20)

[10, 12, 14, 16, 18, 20]

In [36]:
var strArray:Array[String] = Array("John","Doe","Jane","Sach")

strArray = Array(John, Doe, Jane, Sach)

[John, Doe, Jane, Sach]

In [35]:
for((key,value) <- colors) {
    printf("key:%s, value :%s\n",key,value)
}

key:yellow, value :#FFFF00
key:green, value :#0008000

In [32]:
colors

Map(yellow -> #FFFF00, green -> #0008000)

In [31]:
colors -= "red"

In [29]:
colors += "green" -> "#0008000"

In [25]:
var colors = Map("red" -> "#FF0000","yellow" -> "#FFFF00")

colors = Map(red -> #FF0000, yellow -> #FFFF00)

Map(red -> #FF0000, yellow -> #FFFF00)

In [23]:
my_inta

14

In [22]:
var(my_int,my_double,my_string) = t

my_int = 14
my_double = 45.69
my_string = India

India

In [15]:
var t = (14,45.69,"Australia")

t = (14,45.69,Australia)

(14,45.69,Australia)

In [19]:
var t = Tuple3(14,45.69,"India")

t = (14,45.69,India)

(14,45.69,India)

In [10]:
var set = Set(76,5,9,1,2)

set = Set(5, 1, 9, 2, 76)

Set(5, 1, 9, 2, 76)

In [7]:
var nums = List(1,2,3)

nums = List(1, 2, 3)

List(1, 2, 3)

In [5]:
for(x <- languages) {
    println(x)
}

Ruby
Python
SQL

In [3]:
languages(0)

Ruby

In [3]:
Calc.calcSum(5,8)

26

In [2]:
object Calc {
def calcSum(x: Int, y: Int): Int = {
var sum: Int = 0
if (x < y){
for (i <- x to y){
sum = sum + i
}}
else {
for (i <- y to x){
sum = sum + i
}
}

return sum
}

}

defined object Calc

In [1]:
object Calc{
def calcSum(a: Int,b: Int): Int ={
var sum:Int=0
if(a<b){ for(x<-a="" to="" b){="" sum="sum+x" }}="" else{="" for(x<-="" b="" to="" a){="" sum="sum+x" }}="" return="" sum="" }="" }="">

Name: Compile Error
Message: <console>:4: error: illegal start of statement
if(a<b){ for(x<-a="" to="" b){="" sum="sum+x" }}="" else{="" for(x<-="" b="" to="" a){="" sum="sum+x" }}="" return="" sum="" }="" }="">
                              ^
<console>:4: error: illegal start of statement
if(a<b){ for(x<-a="" to="" b){="" sum="sum+x" }}="" else{="" for(x<-="" b="" to="" a){="" sum="sum+x" }}="" return="" sum="" }="" }="">
                                                         ^
<console>:4: error: ';' expected but '=' found.
if(a<b){ for(x<-a="" to="" b){="" sum="sum+x" }}="" else{="" for(x<-="" b="" to="" a){="" sum="sum+x" }}="" return="" sum="" }="" }="">
                                                                                                        ^
<console>:4: error: ';' expected but '=' found.
if(a<b){ for(x<-a="" to="" b){="" sum="sum+x" }}="" else{="" for(x<-="" b="" to="" a){="" sum="sum+x" }}="" return="" sum="" }="" }="">
                                                                                                                              ^
<console>:4: error: ';' expected but '=' found.
if(a<b){ for(x<-a="" to="" b){="" sum="sum+x" }}="" else{="" for(x<-="" b="" to="" a){="" sum="sum+x" }}="" return="" sum="" }="" }="">
                                                                                                                                   ^

StackTrace:

In [4]:
object Calc{
     def calSum(x:Int,y:Int):Int ={
     var sum:Int = 0
     for(a<-x to y){
     sum=sum+a
     }
     return sum
     }
     }

defined object Calc

In [7]:
HelloWorld.main(Array())

Hello, world!
Current time is as below
Tue Sep 01 08:13:31 UTC 2020

Result is:12

In [6]:
//this is import of non-default packages to access specific utilities
import java.text.SimpleDateFormat
import java.util.Calendar
//this is main class of the scala program
object HelloWorld {
  //this is the main method of the program
  //this is the method which called when the program is run

  def main(args: Array[String]) {
    println("Hello, world!") // prints Hello World

    //display current date time using a function
    dispDateTime();

    var result: Int = 0;
    //get sum of 2 numbers using a function
    result = calcSum(5, 7);
    println("Result is:" + result)
  }

  def dispDateTime(): Unit= {
    val now = Calendar.getInstance().getTime()
    //println is a function which take st
    println("Current time is " + "as below")
    println(now+"\n")
  }

  def calcSum(a: Int, b: Int): Int = {
    var sum: Int = 0
    sum = a + b
    return sum
  }

}

defined object HelloWorld

In [4]:
import java.text.SimpleDateFormat
import java.util.Calendar
object HelloWorld {
    def main(args:Array[String]) {
        println("Hello, world!")
        dispDateTime();
        var result: Int = 0;
        //get sum of 2 numbers using a function
        result = calcSum(5,7);
        println("Result is:" +result)
    }
    
    def dispDateTime(): Unit = {
        val now= Calender.getInstance().getTime()
        println("Current time is" + "as below")
        println(now+"\n")
    }
    def calcSum(a:Int, b:Int): Int = {
        var sum:Int = 0
        sum = a + b
        return sum
    }
    }

Name: Compile Error
Message: <console>:38: error: not found: value Calender
               val now= Calender.getInstance().getTime()
                        ^

StackTrace:

In [6]:
Greet.greet(12.39)

Good Afternoon

In [4]:
object Greet{
def greet(time:Double): String = {
if (time >= 4.0 && time <12.30)
return "Good Morning";
if(time >= 12.0 && time <16.0)
return "Good Afternoon";
if (time >= 16.0 && time <21.0)
return "Good Evening";
if (time >= 21.0 && time < 24.0)
return "Good Night";
if (time>= 0.0 && time < 4.0)
return "Good Night"
else{
return "Please Enter valid Hours"; }
}
}

defined object Greet

In [3]:
object Hello {
 def addNumbers( x:Int, y:Int) : Int = {
     var sum :Int = 0
     sum = x + y
     return sum
 }
}

defined object Hello

In [4]:
class Student() {
var name: String = "";
var sex: Char = 'F';
var grade: Int = 5;
var age: Int = 12;

def this(name_a: String) {
this()
this.name = name_a
}

def this(name_a: String, sex_a: Char) {
this()
this.name = name_a;
this.sex = sex_a;
}

def this(name_a: String, sex_a: Char, grade_a: Int, age_a: Int) {
this()
this.name = name_a;
this.sex = sex_a;
this.grade = grade_a;
this.age = age_a;
}

}

defined class Student

In [3]:
var name_stu = stu1.name
var sex_stu = stu1.sex
var grade_stu = stu1.grade
var age_stu = stu1.agea

name_stu = John Doe
sex_stu = M
grade_stu = 15
age_stu = 23

23

In [2]:
var stu1 = new Student("John Doe",'M',15,23);

stu1 = Student@72c9cf2

$line23.$read$$iw$$iw$Student@72c9cf2

In [1]:
class Student(var uname:String,var usex:Char,var ugrade:Int,var nage:Int){
     var name:String = uname;
     var sex:Char = usex;
     var grade:Int = ugrade;
     var age:Int = nage;
     }

defined class Student

In [2]:
object Purge {
def purgeVowels(str:String):String={
    var str2 = str.replaceAll("[a|e|i|o|u|A|E|I|O|U]","")
    return str2
}
}
Purge.purgeVowels("New York")

defined object Purge

Nw Yrk

In [21]:
object Greet{
def greet(t:Int):String = {
if(t >= 4 && t < 12){
return "Good Morning"
}
if(t >= 12 && t < 16)
{
return "Good Afternoon"
}
if (t >= 16 && t < 21){
return "Good Evening"
}
if(t >= 21 || t < 4){
return "Good Night"
}
return ""
}
}

defined object Greet

In [22]:
Greet.greet(4)

Good Morning

In [3]:
nums.take(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
var mycity = "san francisco"

mycity = san francisco

san francisco

var principal = 500
var interest_rate = 12
var years = 5
var interest = principal * interest_rate * years /100

In [9]:
object Hello {
    def main(args: Array[String]) {
        var str:String = "hello"
        println(str)
        str = "hello all"
        println(str)
        str.concat("there")
        println(str)
        str = str.concat("there")
        println(str)
    }
}

defined object Hello

In [10]:
var str:String = "hello"

str = hello

hello

In [11]:
str = hello all"

Name: Compile Error
Message: <console>:1: error: ';' expected but string literal found.
str = hello all"
            ^
<console>:1: error: unclosed string literal
str = hello all"
                ^

StackTrace:

str = "hello all"

In [12]:
str = "hello all"

str = hello all

hello all

In [13]:
str

hello all

In [14]:
var str = "hello"
var str = "hello all"

Name: Compile Error
Message: <console>:26: error: str  is already defined as variable str
       var str = "hello all"
           ^

StackTrace:

In [15]:
str.concat("there")

hello allthere

In [1]:
val height = 1.7d
val name = "John"
println(f"$name%s is $height%2.2f meters tall")

John is 1.70 meters tall

height = 1.7
name = John

John

In [2]:
println(s"Result = \n a \n b")

Result =
 a
 b

In [3]:
println(raw"Result = \n a \n b")

Result = \n a \n b

In [8]:
var str1:String = "one"
println("Length is " + str1.length());

Length is 3

str1 = one

one

In [9]:
var str:String = "New York"
println("Char at 5th index is " + str.charAt(4));

Char at 5th index is Y

str = New York

New York

In [10]:
var str:String = "New York"
println("New string is " + str.replace("York","Shire"));

New string is New Shire

str = New York

New York

In [11]:
var str:String = "New York 1ab2c3"
println("New string is " + str.replaceAll("[0-9]","x"));

New string is New York xabxcx

str = New York 1ab2c3

New York 1ab2c3

In [7]:
var str1:String = "one"
var str2:String = str1.concat("two")
println("Combined string is " + str2);

Combined string is onetwo

str1 = one
str2 = onetwo

onetwo

In [12]:
var str:String = "New York"
println("New string is " + str.replaceAll("w|k","z"));

New string is Nez Yorz

str = New York

New York

In [13]:
var str:String = "New,York,Hello, There"
var strarray = new Array[String](3)
strarray = str.split(",")
println("New string is " + strarray(0));

New string is New

str = New,York,Hello, There
strarray = Array(New, York, Hello, " There")
strarray = [Ljava.lang.String;@540e9b5

[New, York, Hello,  There]

In [14]:
var str:String = "New,York,Hello, There"
var strarray = new Array[String](3)
strarray = str.split(",")
println("New string is " + strarray(0));
println(strarray.deep.mkString("\n"))

New string is New
New
York
Hello
 There

str = New,York,Hello, There
strarray = Array(New, York, Hello, " There")
strarray = [Ljava.lang.String;@74130c06

[New, York, Hello,  There]

In [15]:
var str:String = "NewxYorkyHello, There"
var str1 = str.substring(4,9)
println(s"New string is $str1")

New string is Yorky

str = NewxYorkyHello, There
str1 = Yorky

Yorky

In [17]:
println(str)

hello all

In [20]:
object Demo {
    def main(args:Array[String]) {
        var floatVar = 10.123
        var intVar = 5000
        var stringVar = "Hello There"
        var fs = printf("The value of the float variable is " + "%f,while the
        value of the integer " + "variable is %d, and the string" + "is %s",floatVar,intVar,stringVar);
        println(fs)
    }
    }

Name: Compile Error
Message: <console>:6: error: unclosed string literal
        var fs = printf("The value of the float variable is " + "%f,while the
                                                                ^
<console>:7: error: unclosed string literal
        value of the integer " + "variable is %d, and the string" + "is %s",floatVar,intVar,stringVar);
                                                                           ^

StackTrace:

In [31]:
object Purge {
    def purgeVowels(str:String ) :String = {
        var str1 = "New York"
        var str2:String = ""
        str2 = str.replaceAll("a|e|i|o|u|A|E|I|O|U","");
        return str2
    }
}

defined object Purge

In [28]:
Purge.purgeVowels("Ajinkya")

jnky

In [32]:
Purge.purgeVowels("New York")

Nw Yrk